[Unit]
Description=Run cloudgene-cleanup.service daily

[Timer]
OnCalendar=daily
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
